.pure-title {
	text-align: center;
	font-style: italic;
}

.pure-numb {
	font-size: 1.5em;
}

.recipe-img  {
    width: 100%;
    height: auto;
}

#recette-crepes {
	background-image: url("../Images/crepes-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
}

.large-recette {
	display: none;
}

@media only screen and (min-width:1920px) {
	#recette-crepes {
		display: none;
	}
}

@media only screen and (min-width:1920px) {
	.large-recette {
		display: block;
		text-align: center;

	}
}

#recette-content {
	text-align: center;
}

.numbField {
	max-width: 3em;
}

.recette-list {
	list-style-type: none;
}

#lancer-button {
	display: block;
	margin : auto;
}

.recette-form {
	border: 0.15em black solid;
	border-style: outset;
	border-radius: 1em;
	width: 80%;
	height: auto;
	display: block;
	margin: auto;
	text-align: center;
    box-shadow: 8px 8px 12px #aaa;
}

#etape1 {
	text-align: center;
	display: none;
}

#etape2 {
	text-align: center;
	display: none;
}

#etape3 {
	text-align: center;
	display: none;
}

.ajouter-button:before {
	content: "\271A";
}

.ajouter-button {
	border-radius: 2em;
	background-color: #73D77E;
}

#valid-button {
	background-color: #1E8133;
}

meter {
	width: 50%;
	height: auto;
	margin: auto;
}

.search {
	text-align: left;
}

table {
	margin: auto;
	max-width: 80%;
}

td {
text-align :center;
}

.video-recette {
	width: 80%;
	height: auto;
}

.pub {
	border: 0.1em black solid;
	text-align: center;
}

.ingField {
	max-width: 7em;
}

.show-on-little-screen {
	display: none;
}

@media only screen and (max-width:380px) {
	.hide-on-little-screen {
		display: none;
	}
}

@media only screen and (max-width:380px) {
	.show-on-little-screen {
		display: block;
	}
}

.table-ingr {
	background-image: url("../Images/crepes-bg.jpg");
	background-position: center;
	width: 100%;
}

.head-center {
	text-align: center;
}